<!-- views/partials/header.ejs -->

<div class="container-fluid" id="header">	
    <div class="row">
        <div class="col-sm-12 col-md-4 order-2 order-md-1">
            <a href="/posts"><h1>Code Rage</h1></a>
        </div>
        <div class="col-sm-12 col-md-8 order-1 order-md-2 m-auto d-flex justify-content-end">
            <nav class="navbar navbar-expand-sm custom-search px-sm-0 d-flex justify-content-start">
                <form class="form-inline" action="/search">
                    <input class="form-control mx-2" type="search" name="q" placeholder="Search">
                    <button class="btn btn-custom" type="submit">Search</button>
                </form>
            </nav>
            <div class="my-auto mx-2 custom-profile">
                <a href="/user"><% if(!profile){ %><img class="profile-img" src= "/uploads/user/default.jpg"><% } else { %><img class="profile-img" src= "/uploads/user/<%= profile.profilePicture %>"><% } %><span class="pl-1"><%= user.username %></span></a>
            </div>
        </div>
    </div>			
</div>