<!-- views/partials/head.ejs -->
<base href="http://code-rage.herokuapp.com/" target="_self">
<meta charset="utf-8">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Web and Internet Engineering Project">
<meta name="author" content="Milena Maul, Enes Varcan, and Wes Ford">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/bootstrap.min.css">
<link rel="stylesheet" href="/public/styles.css">
<link rel="stylesheet" href="/public/font-awesome.min.css">
<link rel="shortcut icon" href="public/favicon.ico">
<script src="https://use.fontawesome.com/c36f432bde.js"></script>
<script src="/public/jquery-3.5.1.min.js"></script>
<script src="/public/bootstrap.min.js"></script>
<title>Code Rage</title>