<div class="container">
    <a class="btn btn-success" href="/login" role="button">Login</a>
  </div>
  <div class="container">
    <a class="btn btn-primary" href="/register" role="button">Register</a>
  </div>
</div>