<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center sticky-top">
      <ul class="navbar-nav">
        <% if(!profile){ %> 
          <li class="nav-item">
            <a class="nav-link" href="user/createProfile">Create Profile</a>
          </li>
        <% } %> 
        <li class="nav-item">
          <a class="nav-link" href="posts/createNewPost">Create New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="posts">Read Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user/myPosts">My Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</div>