<html lang="en">
    <head>
        <%- include ('./partials/head') %>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img class="mx-auto d-block" src="https://media.giphy.com/media/dafoA3tmeLtHL45rOi/giphy.gif" alt="404"> 
        </div>
        <div class="row">
            <a href="/">10 GOTO "HOME"</a>
        </div>
    </div>
</body>
</html>