<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="single-page page">
		<%- include('./partials/header') %> 		
		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
				<h3>Create Profile</h3>
				<form method="POST", action="/user/createProfile">
				<div class="row blog-teaser">
						<div class="col-12 mt-4 mb-2">
							<input type="text" name="name" placeholder="Your name">
						</div>
						<div class="col-12 my-2">
              				<p>Upload Profile Picture</p>
							<form enctype="multipart/form-data">
								<input id="profilePicture" name="profilePicture" type="file" />
								<input type="button" onclick="uploadProfilePicture()" value="Upload">
							</form>
							<p id="uploadAlert"></p>
						</div>
						<div class="col-md-12 my-2">
							<textarea class="col-md-8 p-1" name="bio" placeholder="Tell us about yourself"></textarea>
						</div>
						<div class="col-md-12 my-2">
							<input type="text" name="interestedIn" placeholder="Your interests">
						</div>
						<div class="col-md-12 mt-2 mb-4">
							<button class="btn btn-custom" type="submit" id="submit">Submit</button>
							<button class="btn btn-custom" type="reset">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>

			function uploadProfilePicture() {
				var url = '/user/uploadProfilePicture'

				var formData = new FormData()
				formData.append('profilePicture', $('#profilePicture')[0].files[0])

				$.ajax({
					url: url,
					type: 'POST',
					data: formData,
					cache: false,
					contentType: false,
					processData: false,
					success: function (data){
						if(data.error){
							$('#uploadAlert').text(data.error.message)
						}else{
							$('#uploadAlert').text(data.message)
						}
					}
				})
			}
		</script>
	</body>
</html>
	