<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
<body class="home-page" id="page">
	<div class="container-fluid" id="header">
		<div class="row">
			<div class="col-md-4 col-6">
				<h1>Code Rage</h1>
			</div>
			<div class="btn-toolbar col-md-8 col-6 m-auto d-flex justify-content-end">
				<button id="register" onclick="document.getElementById('regpage').style.display='block'" class="btn btn-outline-secondary btn-sml m-2">Register</button>
				<button id="login" onclick="document.getElementById('loginpage').style.display='block'" class="btn btn-custom btn-sml m-2">Log In</button>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="body">
		<div class="row align-items-center">
			<span class="justify-content-center col-md-6 col-sm-12 text-md-left text-center m-md-0">
				<p style="font-size:4vw">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
			</span>
			<span class="col-md-6">
				<img class="img-fluid m-0 m-md-2" src="/public/code.jpg">
			</span>
		</div>
		<div class="row text-center m-4">
			<p style="font-size:110%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt tempus urna, et posuere nisi lacinia non. Curabitur venenatis turpis augue, a elementum felis pulvinar nec. Donec condimentum fringilla tellus non porttitor. Cras lobortis volutpat diam vitae mattis. Suspendisse elit sem, scelerisque vitae ligula et, ornare porttitor tellus. Etiam scelerisque finibus gravida. Nunc nisl metus, malesuada at libero in, accumsan tristique ipsum. Praesent eu urna a lectus volutpat mollis. In auctor suscipit lacus. Proin hendrerit sapien in dui iaculis, ut scelerisque mi dignissim. Mauris ut augue massa. Praesent ut volutpat dui, a finibus leo. Maecenas venenatis urna ipsum, vitae pretium dolor convallis eu. In purus quam, pellentesque sit amet imperdiet sed, condimentum et massa. Donec placerat, erat id sagittis pellentesque, mi mi ultricies sapien, sit amet porttitor lorem dui nec elit. Donec finibus, metus vestibulum tempor molestie, justo enim facilisis magna, vitae sagittis neque neque non urna. Mauris sit amet posuere nibh, id pharetra tortor. Morbi sodales tincidunt laoreet. Pellentesque iaculis libero nibh, id ullamcorper sapien hendrerit nec. Donec eu tellus at lacus consectetur blandit vitae in nisi. Donec mauris felis, ullamcorper malesuada porta non, dictum id massa. Donec aliquam erat libero, nec pharetra augue suscipit vel. Suspendisse lacinia diam sed augue egestas, non bibendum quam rutrum. Nam suscipit dapibus diam, non ornare sapien ullamcorper sit amet. Praesent nec magna vel est egestas congue id sed massa. Nunc eget ex velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>	
		</div>
		
		<div id="regpage" class="modal">
			<div class="modal-dialog modal-dialog-centered">
				<form class="modal-content animate" id="register-form">
					<div class="row mx-auto my-4">
						<h1>Register</h1>
					</div>
					<div class="row mx-auto my-4">
						<input type="text" name="username" id="username" placeholder="username">
					</div>
					<div class="row mx-auto my-4">
						<input type="email" name="email" id="email" placeholder="email">
					</div>
					<div class="row mx-auto my-4">
						<input type="password" name="password" id="password" placeholder="password">
					</div>	
					<div class="row mx-auto my-2">
						<p id="error-message"></p>
					</div>
					<div class="row mx-auto my-4">
						<button class="btn btn-primary" id="register-button">Sign up!</button>
					</div>
				</form>
			</div>
		</div>

		<div id="loginpage" class="modal">
			<div class="modal-dialog modal-dialog-centered">
				<form class="modal-content animate" id="login-form">
					<div class="row mx-auto my-4">
						<h1>Log In</h1>
					</div>
					<div class="row mx-auto my-4">
						<input type="text" name="username" id="username" placeholder="username">
					</div>
					<div class="row mx-auto my-4">
						<input type="password" name="password" id="password" placeholder="password">
					</div>
					<div class="row mx-auto my-2">
						<p id="error-message"></p>
					</div>
					<div class="row mx-auto my-4">
						<button class="btn btn-primary" id="login-button">Log In</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script>

		$("#login-button").click(function(e){
			e.preventDefault()
			$.ajax({
					url: '/login/',
					type: 'POST',
					data: $('#login-form').serialize(),
					success: function (data){
						if(data.error){
							$('#error-message').html(data.error.message)
						}else{
							window.location.replace('/')
						}
					}
				})
		})

		$("#register-button").click(function(e){
			e.preventDefault()
			$.ajax({
					url: '/register/',
					type: 'POST',
					data: $('#register-form').serialize(),
					success: function (data){
						if(data.error){
							$('#error-message').html(data.error.message)
						}else{
							$('#error-message').html(data.message)
						}
					}
				})
		})

			var regmodal = document.getElementById('regpage');
			var loginmodal = document.getElementById('loginpage');

			window.onclick = function(event) {
				if (event.target == regmodal) {
					regmodal.style.display = 'none';
				}
				if (event.target == loginmodal) {
					loginmodal.style.display = 'none';
				}
			}
		</script>
</body>
</html>
